html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.label-about {
  animation-delay: 0s !important;
}
.label-about:after {
  content: 'Hello.';
}
.label-about:hover:after {
  content: 'About';
}

.label-work {
  animation-delay: 0.4s !important;
}
.label-work:after {
  content: 'Work';
}
.label-work:hover:after {
  content: 'I am';
}

.label-contact {
  animation-delay: 0.8s !important;
}
.label-contact:after {
  content: 'Contact';
}
.label-contact:hover:after {
  content: 'Gustavo';
}

.blue-title {
  color: #0070f3;
}
